*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.main{
    height: 70%;
    width: 300px;
    background-color:hsl(216, 50%, 16%);
    border-radius: 12px;
    padding: 20px 20px;
    
}

.img{
    height: 52%;
    width: 100%;
    background-image: url(images/image-equilibrium.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.main h1{
   font-family: 'specimen' ,sans-serif,serif;
   font-weight: 600;
   font-size: 22px;
   color: #fff;
   line-height: 60px;
   padding-left: 2px;
   padding-top: 18px;

}
.para-1{
    font-family:'specimen' ,sans-serif,serif ;
     font-size: 16px;
     color:hsl(215, 25%, 74%);
     line-height: 25px;
}
.container{
    display: flex;
    justify-content: space-between;

}
.box-1{
    color: aqua;
}
.box-2{
    color: rgb(149, 148, 197);
}

.box-1, .box-2{
    display: flex;
    gap: 8px;
    padding-top: 18px;
    font-size: 15px;
    font-family: 'specimen' ,sans-serif,serif;

}
.line{
    height: 0.01rem;
    width: 100%;
    background-color: rgb(149, 148, 197); 
    margin-top: 15px;
}
.footer{
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;

}
.footer img{
    height: 40px;
    width: 40px;
    border: 1px solid white;
    border-radius: 50%;
}
.footer a{
    font-family: 'specimen' ,sans-serif,serif; 
    text-decoration: none;
    color: gold;
    font-size: 15px;

}